<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace
&family=Bruno+Ace+SC&family=Michroma&display=swap" rel="stylesheet">
    <title>{% block title %}Default Title{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="websiteContainer">
        <header id="mainHeader">
            <div class="site-branding">
                <div class="text">
                    <h1 class="site-name">X RUGGER MUSIC</h1>
                        <p class="site-subname">I'm just doin a little trap :33</p>
                </div>
            </div>
        </header>
        <div id="navAndContentContainer">
             <nav id="navigationMenu">
                <div class="nav-column">
                    <h3 class="nav-bar">NAVIGATION</h3>
                    <a href="/" class="nav-link--current">Home</a>
                </div>
            </nav>
            
            <main id="mainContent">
                {% block content %}{% endblock %}
            </main>
        </div>
    <footer class="main-footer">
        <p>&copy; 2026 XRUGGER MUSIC BLOG</p>
        <p class="second-footer">Made with Rust</p>
    </footer>
</div>
</body>
</html>