{% extends "base.html" %}

{% block title %}0xrugger{% endblock %}

{% block head %}
    <script src="/static/main.js"></script>
{% endblock %}

{% block content %}
<div class="styled-containers">
    <h2>Create new post</h2>
    <div id="uploadForm" class="glass-borders">
        <form method="POST" action="/" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
            <input type="text" name="title" placeholder="Title required" required 
            class="form-input text-input">
            </div>

            <div class="form-group">
            <textarea name="description" placeholder="Description (no need)" rows="2"
            class="form-textarea desc-textarea"></textarea>
            </div>

            <div class="form-group">
            <textarea 
                name="text"
                id="postInput"
                placeholder="type your text here" 
                rows="5" cols="50" 
                maxlength="1000"
                required
                class="form-textarea main-textarea"></textarea>
                <div class="char-counter" id="counter">0/1000</div>
            </div>
            <button type="submit" class="aero-button">Publish</button>
        </div>
        </form>
    </div>
    
    <div id="feed" class="posts-container">
        <h2 class="section-subtitle">Recent Posts</h2>
        <p class="stats-counter">Total posts: {{ posts.len() }}</p>
        
        {% for post in posts %}
            <div class="post-item glass-borders">
                <h3><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
                {% if !post.description.is_empty() %}
     <p class="description">{{ post.description }}</p>
                   {% endif %}
                <p>{{ post.text }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}