{% extends "base.html" %}

{% block title %}0xrugger{% endblock %}

{% block head %}
    <script src="/static/main.js"></script>
{% endblock %}

{% block content %}
<div class="styled-containers">
    <h2 class="create-text">Create new post</h2>
    <div id="uploadForm" class="glass-borders">
        <form method="POST" action="/" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
            <input type="text" name="title" placeholder="Title required" required 
            class="form-input text-input">
            </div>
            <div class="form-group">
            <textarea 
                name="text"
                id="postInput"
                placeholder="type your text here" 
                rows="5" cols="50" 
                maxlength="1000"
                required
                class="form-textarea main-textarea"></textarea>
                <div class="char-counter" id="counter">0/1000</div>
            </div>
            <button type="submit" class="aero-button">Publish</button>
        </form>
    </div>
    
    {% if show_upload_success %}
    <div id="uploadSuccessModal" class="modal" style="display: flex;">
        <div class="modal-content">
            <h3>Success!</h3>
            <p>Your post has been created successfully.</p>
            <button class="modal-close-btn">OK</button>
        </div>
    </div>
{% endif %}
    <div id="feed" class="posts-container">
        <p class="stats-counter">Total posts: {{ posts_count }}</p>
    </div>
</div>
{% endblock %}